dist
.solid
.output
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# environment
.env.*

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Database
migrations/
scavenge.db
